/**
 * @Author: wangbo 3812943352@qq.com
 * @Date: 2024-12-25 11:33:27
 * @LastEditors: wangbo 3812943352@qq.com
 * @LastEditTime: 2024-12-25 17:18:11
 * @FilePath: src/app/globals.css
 * @Description: 这是默认设置,可以在设置》工具》File Description中进行配置
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
